In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.model_selection import train_test_split
from scipy.special import expit

In [18]:
import statsmodels.api as sm
import warnings

In [2]:
def read_csv_into_df(file_path):
    df = pd.read_csv(file_path)
    return df

In [4]:
%cd /Users/lisimanhua/Documents/stanford/2022 Spring/CS229/project/updated train and validation data

/Users/lisimanhua/Documents/stanford/2022 Spring/CS229/project/updated train and validation data

In [5]:
train_dataset = read_csv_into_df("train.csv")
train_dataset

,Unnamed: 0,Unnamed: 0_x,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank,...,garment_group_no,garment_group_name,detail_desc,Unnamed: 0.1,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,0,29314980,2020-07-22,0000c97821eb48d0e590fd309133f0a6c08f7750f64ccc...,778064038,0.008458,2,96,1.0,999.0,...,1002,2,309,18,-1,-1,0,0,49,40775
1,1,29314981,2020-07-22,0000c97821eb48d0e590fd309133f0a6c08f7750f64ccc...,817166007,0.006763,2,96,1.0,999.0,...,1005,0,4647,18,-1,-1,0,0,49,40775
2,2,29314982,2020-07-22,0000c97821eb48d0e590fd309133f0a6c08f7750f64ccc...,840360002,0.008458,2,96,1.0,999.0,...,1005,0,3324,18,-1,-1,0,0,49,40775
3,3,29314983,2020-07-22,0000c97821eb48d0e590fd309133f0a6c08f7750f64ccc...,817166003,0.008458,2,96,1.0,999.0,...,1005,0,4647,18,-1,-1,0,0,49,40775
4,4,29314980,2020-07-22,0000c97821eb48d0e590fd309133f0a6c08f7750f64ccc...,760084003,0.025094,2,96,0.0,1.0,...,1009,5,847,18,-1,-1,0,0,49,40775
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10205047,10205047,31334397,2020-09-09,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,863595006,0.033025,1,103,0.0,8.0,...,1003,3,1496,1371977,1,1,0,1,21,106737
10205048,10205048,31334397,2020-09-09,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,896152002,0.033064,1,103,0.0,9.0,...,1003,3,9447,1371977,1,1,0,1,21,106737
10205049,10205049,31334397,2020-09-09,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,448509014,0.041407,1,103,0.0,10.0,...,1009,5,255,1371977,1,1,0,1,21,106737
10205050,10205050,31334397,2020-09-09,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,909916001,0.033403,1,103,0.0,11.0,...,1017,4,12143,1371977,1,1,0,1,21,106737
10205051,10205051,31334397,2020-09-09,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,762846031,0.024715,1,103,0.0,12.0,...,1010,6,492,1371977,1,1,0,1,21,106737

In [6]:
train_dataset.keys()

Index(['Unnamed: 0', 'Unnamed: 0_x', 't_dat', 'customer_id', 'article_id',
       'price', 'sales_channel_id', 'week', 'purchased', 'bestseller_rank',
       'Unnamed: 0_y', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc', 'Unnamed: 0.1',
       'FN', 'Active', 'club_member_status', 'fashion_news_frequency', 'age',
       'postal_code'],
      dtype='object')

In [36]:
#train_dataset.isna().sum()
#data = origin_data.drop(columns=['xxx', 'xxx'])
train_dataset = train_dataset.drop(columns=['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y','Unnamed: 0.1','t_dat'])

In [24]:
train_dataset.shape

(10205052, 38)

In [25]:
valid_dataset = read_csv_into_df("validate.csv")

In [26]:
valid_dataset.shape

(6750713, 42)

In [27]:
valid_dataset.head()

,Unnamed: 0,Unnamed: 0_x,t_dat,customer_id,article_id,price,sales_channel_id,week,purchased,bestseller_rank,...,garment_group_no,garment_group_name,detail_desc,Unnamed: 0.1,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,10205052,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,568601043,0.050831,1,104,0.0,999.0,...,1008,20,188,0,-1,-1,0,0,49,6305
1,10205053,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,909370001,0.032947,1,104,0.0,1.0,...,1023,19,28617,0,-1,-1,0,0,49,6305
2,10205054,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,865799006,0.033340,1,104,0.0,2.0,...,1009,5,2971,0,-1,-1,0,0,49,6305
3,10205055,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,918522001,0.041416,1,104,0.0,3.0,...,1003,3,28633,0,-1,-1,0,0,49,6305
4,10205056,31140481,2020-09-05,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,924243001,0.041549,1,104,0.0,4.0,...,1003,3,13007,0,-1,-1,0,0,49,6305

In [28]:
valid_dataset = valid_dataset.drop(columns=['Unnamed: 0', 'Unnamed: 0_x', 'Unnamed: 0_y','Unnamed: 0.1'])

In [43]:
train_dataset = train_dataset.drop(columns=['customer_id'])
valid_dataset = valid_dataset.drop(columns=['customer_id'])

In [51]:
x = train_dataset.loc[:, train_dataset.columns != 'purchased']
y = train_dataset["purchased"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [48]:
x_train.shape

(8164041, 35)

In [49]:
y_train.shape

(8164041,)

In [55]:
x_test.shape

(2041011, 35)

In [56]:
y_test.shape

(2041011,)

In [45]:
x_train.dtypes

article_id                        int64
price                           float64
sales_channel_id                  int64
week                              int64
bestseller_rank                 float64
product_code                      int64
prod_name                         int64
product_type_no                   int64
product_type_name                 int64
product_group_name                int64
graphical_appearance_no           int64
graphical_appearance_name         int64
colour_group_code                 int64
colour_group_name                 int64
perceived_colour_value_id         int64
perceived_colour_value_name       int64
perceived_colour_master_id        int64
perceived_colour_master_name      int64
department_no                     int64
department_name                   int64
index_code                        int64
index_name                        int64
index_group_no                    int64
index_group_name                  int64
section_no                        int64
section_name                      int64
garment_group_no                  int64
garment_group_name                int64
detail_desc                       int64
FN                                int64
Active                            int64
club_member_status                int64
fashion_news_frequency            int64
age                               int64
postal_code                       int64
dtype: object

In [46]:
#x_train = train_dataset.drop(columns=['customer_id'])

In [57]:
logit_model=sm.Logit(y_train,x_train)
#warnings.filterwarnings('ignore')
result=logit_model.fit()
print(result.summary2())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.191369
         Iterations: 35

/Users/lisimanhua/opt/anaconda3/lib/python3.8/site-packages/statsmodels/base/model.py:566: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

                                Results: Logit
===============================================================================
Model:                  Logit                Pseudo R-squared:     0.614
Dependent Variable:     purchased            AIC:                  3124759.4291
Date:                   2022-05-06 18:45     BIC:                  3125232.5476
No. Observations:       8164041              Log-Likelihood:       -1.5623e+06
Df Model:               33                   LL-Null:              -4.0472e+06
Df Residuals:           8164007              LLR p-value:          0.0000
Converged:              0.0000               Scale:                1.0000
No. Iterations:         35.0000
-------------------------------------------------------------------------------
                              Coef.  Std.Err.     z      P>|z|   [0.025  0.975]
-------------------------------------------------------------------------------
article_id                   -0.0009      nan        nan    nan     nan     nan
price                        10.2393   0.2705    37.8553 0.0000  9.7091 10.7694
sales_channel_id              0.0607   0.0033    18.2332 0.0000  0.0542  0.0672
week                         -0.1520   0.0007  -208.5669 0.0000 -0.1535 -0.1506
bestseller_rank               0.0065   0.0000   947.5285 0.0000  0.0064  0.0065
product_code                  0.9300   0.1206     7.7145 0.0000  0.6937  1.1663
prod_name                     0.0000   0.0000     3.6162 0.0003  0.0000  0.0000
product_type_no               0.0002   0.0000     8.5653 0.0000  0.0001  0.0002
product_type_name             0.0016   0.0001    13.3753 0.0000  0.0014  0.0019
product_group_name           -0.0335   0.0013   -26.0919 0.0000 -0.0360 -0.0310
graphical_appearance_no       0.0000      nan        nan    nan     nan     nan
graphical_appearance_name    -0.0004   0.0003    -1.2572 0.2087 -0.0011  0.0002
colour_group_code            -0.0007   0.0001   -11.1553 0.0000 -0.0008 -0.0006
colour_group_name             0.0006   0.0003     2.4659 0.0137  0.0001  0.0011
perceived_colour_value_id    -0.0028   0.0011    -2.5581 0.0105 -0.0049 -0.0007
perceived_colour_value_name  -0.0282   0.0012   -23.0975 0.0000 -0.0306 -0.0258
perceived_colour_master_id   -0.0021   0.0003    -6.5267 0.0000 -0.0028 -0.0015
perceived_colour_master_name -0.0017   0.0005    -3.1676 0.0015 -0.0028 -0.0006
department_no                 0.0000   0.0000     7.0422 0.0000  0.0000  0.0000
department_name               0.0012   0.0000    31.2290 0.0000  0.0011  0.0013
index_code                   -2.4618      nan        nan    nan     nan     nan
index_name                    2.4715      nan        nan    nan     nan     nan
index_group_no               -0.0047   0.0007    -6.4934 0.0000 -0.0061 -0.0033
index_group_name             -0.0126   0.0024    -5.2434 0.0000 -0.0173 -0.0079
section_no                    0.0020   0.0001    15.3801 0.0000  0.0018  0.0023
section_name                 -0.0016   0.0001   -12.1473 0.0000 -0.0019 -0.0014
garment_group_no             -0.0092   0.0003   -34.7611 0.0000 -0.0097 -0.0087
garment_group_name           -0.0124   0.0000 -1043.1203 0.0000 -0.0124 -0.0124
detail_desc                  -0.0000   0.0000   -29.7404 0.0000 -0.0000 -0.0000
FN                           -0.0873   0.0112    -7.7980 0.0000 -0.1093 -0.0654
Active                       -0.0453   0.0089    -5.1085 0.0000 -0.0626 -0.0279
club_member_status            0.4210   0.0130    32.2725 0.0000  0.3954  0.4465
fashion_news_frequency        0.1156   0.0140     8.2468 0.0000  0.0881  0.1431
age                          -0.0022   0.0001   -20.7370 0.0000 -0.0024 -0.0020
postal_code                   0.0000   0.0000     2.5496 0.0108  0.0000  0.0000
===============================================================================

In [59]:
train_dataset = train_dataset.drop(columns=['article_id','graphical_appearance_no','index_code','index_name'])
valid_dataset = valid_dataset.drop(columns=['article_id','graphical_appearance_no','index_code','index_name'])

In [60]:
x = train_dataset.loc[:, train_dataset.columns != 'purchased']
y = train_dataset["purchased"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [61]:
logit_model=sm.Logit(y_train,x_train)
#warnings.filterwarnings('ignore')
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.191515
         Iterations 9
                                Results: Logit
==============================================================================
Model:                   Logit               Pseudo R-squared:    0.614
Dependent Variable:      purchased           AIC:                 3127126.9594
Date:                    2022-05-06 18:50    BIC:                 3127558.3321
No. Observations:        8164041             Log-Likelihood:      -1.5635e+06
Df Model:                30                  LL-Null:             -4.0491e+06
Df Residuals:            8164010             LLR p-value:         0.0000
Converged:               1.0000              Scale:               1.0000
No. Iterations:          9.0000
------------------------------------------------------------------------------
                              Coef.  Std.Err.     z     P>|z|   [0.025  0.975]
------------------------------------------------------------------------------
price                        10.2849   0.0962  106.9106 0.0000 10.0963 10.4734
sales_channel_id              0.0681   0.0030   22.7239 0.0000  0.0622  0.0740
week                         -0.1459   0.0006 -231.5573 0.0000 -0.1472 -0.1447
bestseller_rank               0.0064   0.0000  941.9567 0.0000  0.0064  0.0064
product_code                  0.0000   0.0000    1.3432 0.1792 -0.0000  0.0000
prod_name                     0.0000   0.0000    4.2422 0.0000  0.0000  0.0000
product_type_no               0.0003   0.0000   13.1779 0.0000  0.0002  0.0003
product_type_name             0.0018   0.0001   14.1294 0.0000  0.0016  0.0021
product_group_name           -0.0466   0.0010  -47.0007 0.0000 -0.0485 -0.0446
graphical_appearance_name    -0.0008   0.0004   -2.3560 0.0185 -0.0015 -0.0001
colour_group_code            -0.0009   0.0001  -13.6071 0.0000 -0.0010 -0.0007
colour_group_name             0.0010   0.0003    3.8761 0.0001  0.0005  0.0015
perceived_colour_value_id    -0.0015   0.0011   -1.4153 0.1570 -0.0036  0.0006
perceived_colour_value_name  -0.0318   0.0012  -26.0424 0.0000 -0.0342 -0.0294
perceived_colour_master_id   -0.0017   0.0003   -5.3113 0.0000 -0.0024 -0.0011
perceived_colour_master_name -0.0024   0.0005   -4.4835 0.0000 -0.0035 -0.0014
department_no                 0.0000   0.0000    4.1608 0.0000  0.0000  0.0000
department_name               0.0008   0.0000   23.7349 0.0000  0.0008  0.0009
index_group_no               -0.0015   0.0005   -3.1202 0.0018 -0.0024 -0.0006
index_group_name             -0.0005   0.0019   -0.2667 0.7897 -0.0043  0.0033
section_no                    0.0014   0.0001   15.5209 0.0000  0.0012  0.0016
section_name                 -0.0006   0.0001   -4.9844 0.0000 -0.0009 -0.0004
garment_group_no              0.0086   0.0001  134.4904 0.0000  0.0084  0.0087
garment_group_name           -0.0203   0.0003  -62.2944 0.0000 -0.0210 -0.0197
detail_desc                  -0.0000   0.0000  -29.4798 0.0000 -0.0000 -0.0000
FN                           -0.0977   0.0112   -8.7419 0.0000 -0.1196 -0.0758
Active                       -0.0454   0.0088   -5.1527 0.0000 -0.0627 -0.0281
club_member_status            0.4177   0.0131   31.9815 0.0000  0.3921  0.4433
fashion_news_frequency        0.1341   0.0141    9.5320 0.0000  0.1066  0.1617
age                          -0.0023   0.0001  -21.2599 0.0000 -0.0025 -0.0021
postal_code                   0.0000   0.0000    2.0623 0.0392  0.0000  0.0000
==============================================================================

In [68]:
train_dataset = train_dataset.drop(columns=['product_code','perceived_colour_value_id','index_group_name'])
valid_dataset = valid_dataset.drop(columns=['product_code','perceived_colour_value_id','index_group_name'])

In [69]:
x = train_dataset.loc[:, train_dataset.columns != 'purchased']
y = train_dataset["purchased"]
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [70]:
logit_model=sm.Logit(y_train,x_train)
#warnings.filterwarnings('ignore')
result=logit_model.fit()
print(result.summary2())

Optimization terminated successfully.
         Current function value: 0.191447
         Iterations 9
                                Results: Logit
==============================================================================
Model:                   Logit               Pseudo R-squared:    0.614
Dependent Variable:      purchased           AIC:                 3126024.6896
Date:                    2022-05-06 19:10    BIC:                 3126414.3166
No. Observations:        8164041             Log-Likelihood:      -1.5630e+06
Df Model:                27                  LL-Null:             -4.0483e+06
Df Residuals:            8164013             LLR p-value:         0.0000
Converged:               1.0000              Scale:               1.0000
No. Iterations:          9.0000
------------------------------------------------------------------------------
                              Coef.  Std.Err.     z     P>|z|   [0.025  0.975]
------------------------------------------------------------------------------
price                        10.3032   0.0953  108.0584 0.0000 10.1163 10.4901
sales_channel_id              0.0720   0.0030   24.0912 0.0000  0.0661  0.0778
week                         -0.1464   0.0006 -232.4234 0.0000 -0.1477 -0.1452
bestseller_rank               0.0064   0.0000  942.4489 0.0000  0.0064  0.0064
prod_name                     0.0000   0.0000    4.5462 0.0000  0.0000  0.0000
product_type_no               0.0003   0.0000   14.1575 0.0000  0.0003  0.0004
product_type_name             0.0018   0.0001   13.8293 0.0000  0.0015  0.0020
product_group_name           -0.0464   0.0009  -50.6704 0.0000 -0.0482 -0.0446
graphical_appearance_name    -0.0010   0.0004   -2.8188 0.0048 -0.0017 -0.0003
colour_group_code            -0.0008   0.0001  -13.2739 0.0000 -0.0010 -0.0007
colour_group_name             0.0008   0.0003    3.2090 0.0013  0.0003  0.0013
perceived_colour_value_name  -0.0315   0.0012  -25.9947 0.0000 -0.0339 -0.0292
perceived_colour_master_id   -0.0014   0.0003   -4.1654 0.0000 -0.0020 -0.0007
perceived_colour_master_name -0.0018   0.0005   -3.4535 0.0006 -0.0028 -0.0008
department_no                 0.0000   0.0000    4.0325 0.0001  0.0000  0.0000
department_name               0.0009   0.0000   25.6609 0.0000  0.0008  0.0010
index_group_no               -0.0015   0.0004   -3.7307 0.0002 -0.0023 -0.0007
section_no                    0.0013   0.0001   16.7393 0.0000  0.0012  0.0015
section_name                 -0.0006   0.0001   -4.8815 0.0000 -0.0009 -0.0004
garment_group_no              0.0086   0.0001  136.6616 0.0000  0.0085  0.0087
garment_group_name           -0.0206   0.0003  -63.1837 0.0000 -0.0212 -0.0199
detail_desc                  -0.0000   0.0000  -29.9188 0.0000 -0.0000 -0.0000
FN                           -0.0892   0.0112   -7.9613 0.0000 -0.1111 -0.0672
Active                       -0.0518   0.0089   -5.8341 0.0000 -0.0691 -0.0344
club_member_status            0.4228   0.0130   32.4419 0.0000  0.3973  0.4484
fashion_news_frequency        0.1292   0.0140    9.2246 0.0000  0.1018  0.1567
age                          -0.0022   0.0001  -20.3042 0.0000 -0.0024 -0.0020
postal_code                   0.0000   0.0000    2.0644 0.0390  0.0000  0.0000
==============================================================================

In [71]:
from sklearn.metrics import accuracy_score
logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_test)
score =accuracy_score(y_test,y_pred)

In [72]:
print(score)

0.9075732565870541

Model 2

In [73]:
from sklearn.datasets import make_classification
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler

In [74]:
pipe = make_pipeline(StandardScaler(), LogisticRegression())
pipe.fit(x_train, y_train)
pipe.score(x_test, y_test)

0.9078755577505462